<server description="default servlet engine">
    
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>javaee-7.0</feature>
        <feature>jndi-1.0</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint"
		  		  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <application id="auditing" location="auditing.war" name="auditing" />
   
    <jndiEntry jndiName="backbase/auditing-config" value="/config/dropins/auditing.properties" />

    <jndiEntry jndiName="backbase/gateway-config" value="/config/dropins/gateway.properties" />

</server>