<!-- knownt tags: https://www-01.ibm.com/support/knowledgecenter/SSEQTJ_8.5.5/com.ibm.websphere.wlp.doc/autodita/rwlp_metatype_4ic.html-->
<server description="default servlet engine">
    <!-- 2 -->
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>jndi-1.0</feature>
        <!-- <feature>adminCenter-1.0</feature> -->
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <keyStore id="defaultKeyStore" password="Liberty"/>
    
    <!-- Define a keystore for the HTTPS port -->
    <basicRegistry id="basic">
        <user name="admin" password="admin"/>
        <user name="nonadmin" password="nonadmin"/>
    </basicRegistry>
    
    <!-- Assign 'admin' to Administrator -->
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    
    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

    <logging consoleLogLevel="INFO"/>

    <library id="ExternalJars">
      <fileset dir="/jars" includes="*.jar"/>
    </library>
    
    <jndiEntry jndiName="backbase/gateway-config" value="/config/gateway.properties"/>

    <jndiEntry jndiName="backbase/auditing-config" value="/config/auditing.yml"/>

    <application id="auditing" name="auditing" type="war" location="/war/auditing.war">
      <classloader commonLibraryRef="ExternalJars" />
    </application>


</server>